{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/dogs/dog-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Dog List</h1>
</section>

<section class="card-container">
    {% for dog in dogs %}
      <div class="card">
        <a href="/dogs/{{ dog.id }}">
          <div class="card-content">
            <div class="card-img-container">
              <img
                src="{% static 'images/sk8r-boi-dog.svg' %}"
                alt="A skater boy dog"
              />
            </div>
            <h2 class="card-title">{{ dog.name }}</h2>
            {% if dog.age > 0 %}
            <p>A {{ dog.age }} year old {{ dog.breed }}</p>
            {% else %}
            <p>A {{ dog.breed }} kitten.</p>
            {% endif %}
            <p><small>{{ dog.description }}</small></p>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
{% endblock %}
